header.header
  // Nav logo
  a.header__link.--navigation__link(href="/")
    svg.header__link__icon(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0)")
        path(d="M1.17343 22.1385C1.01942 22.5993 0.197948 22.5287 0.39307 21.9433L7.71686 0.742742C7.7712 0.585449 7.9193 0.479919 8.08572 0.479919H10.6436C10.8139 0.479919 10.9627 0.584893 11.014 0.747238C13.3881 8.26133 17.4299 22.2889 18.5096 25.0653L13.4662 23.6994C12.9465 22.0099 9.34511 11.5483 7.39561 5.52922C7.27902 5.16923 6.76843 5.16717 6.64996 5.52654L1.17343 22.1385Z" fill="#DFE0E2")
        rect(x="3.48535" y="13.3581" width="7.80488" height="0.390244" rx="0.195122" fill="#DFE0E2")
        path(d="M2.30078 13.7483L3.82974 15.6995H6.95298V13.7483H6.79289H2.30078Z" fill="#0F131B")
        path(d="M10.9824 13.7482L9.45346 15.6995H6.33023V13.7482H6.49031H10.9824Z" fill="#0F131B")
        path(d="M13.1325 19.8349C13.068 16.141 14.0306 13.1362 16.0201 10.8206C17.9869 8.50533 20.8059 7.31568 24.477 7.2516C26.4608 7.21697 28.2357 7.63076 29.8017 8.49298C30.1245 8.69262 30.4114 8.79026 30.6622 8.78588C31.027 8.77951 31.2495 8.4563 31.3295 7.81625C31.372 7.63304 31.473 7.54004 31.6326 7.53726C31.815 7.53407 31.9074 7.60089 31.9098 7.7377C31.9154 8.05693 31.9115 8.49036 31.8983 9.03801L31.9323 10.9876L31.9675 13.0056C31.9995 13.5296 32.0188 13.9854 32.0256 14.3731C32.0292 14.5783 31.9398 14.6825 31.7574 14.6857C31.6205 14.6881 31.5271 14.5643 31.4772 14.3142C31.0973 12.154 30.4198 10.5806 29.4446 9.59404C28.2138 8.33822 26.5609 7.72842 24.4859 7.76464C23.2546 7.78613 22.2457 8.13448 21.4592 8.80966C19.8653 10.2744 19.1207 14.0053 19.2254 20.0022C19.2943 23.947 19.7322 26.8247 20.5393 28.6353C21.3693 30.4455 22.8673 31.3317 25.0335 31.2939C28.7274 31.2295 30.8376 29.2881 31.364 25.4698C31.4256 25.081 31.5122 24.8171 31.6239 24.6783C31.7583 24.5391 31.9623 24.4672 32.2359 24.4624C32.7148 24.454 32.958 24.6665 32.9655 25.0997C32.9735 25.5557 32.847 26.151 32.5861 26.8854C32.0428 28.4231 31.0716 29.6261 29.6726 30.4945C28.2736 31.3628 26.5252 31.8153 24.4274 31.8519C20.8703 31.914 18.1159 30.9243 16.1643 28.8827C14.2124 26.8184 13.2017 23.8024 13.1325 19.8349Z" fill="#DFE0E2")
        path(d="M11.6879 24.1357C9.84517 11.2426 17.4531 8.23844 21.0008 7.79987C12.5333 9.49336 12.8008 21.9999 13.5984 24.0945C13.2092 24.123 11.8951 24.1205 11.6879 24.1357Z" fill="#0F131B")
      defs
        clipPath(id="clip0")
          rect(width="32" height="32" fill="white")
