.gallery
  &__wrapper
    // Sizes
    width 100vw
    padding $verticalPadding $horizontalPadding
    // Position
    margin-bottom ratio(160)

  &__project
    // Sizes
    height pxToRem(300)
    // Position
    position relative

    &__title
      // Sizes
      height pxToRem(110)
      font-size ratio(120)

// To change
figure.gallery__project__media
  width ratio(500)
  height ratio(666)
  //opacity 0
// To change
//img.gallery__project__media__image
//  opacity 0

// Resolve span height and alignement
//section a h1 span
//  height pxToRem(110) !important
//  line-height 1.36 !important
