.navigation
  position fixed
  z-index 999

  &__wrapper
    @extend .flex--bc

    width $horizontalPadding
    height 100vh
    //padding $verticalPadding $horizontalPadding

  &__list
    @extend .flex--bc

    height pxToRem(40)

    transform rotate(90deg) translateY(136%)
    will(transform)

    &__item
      flex(1 1 auto)
      @extend .flex--cb

      padding 8px
      height 100%

      &:first-child
        margin-right 32px

    &__link
      @extend .link--hidden

      height 100%
      line-height pxToRem(20)

      font-family $font-subtitle
      font-size $bodySmall
      color $subtitle
