- var skills = ["Designer.", "Front-End.", "Graphism."]

.banner__wrapper
  span.banner__content
    span.banner__content__text
      each skill in skills
        span.banner__skill=skill

    span.banner__content__text
      each skill in skills
        span.banner__skill=skill
