.description
  &--title
    font-family $font-display-bold
    font-size pxToRem(32)
    letter-spacing pxToRem(0)
    line-height pxToRem(60)

  &--subtitle
    font-family $font-text-bold
    font-size pxToRem(20)
    letter-spacing pxToRem(0.4)
    line-height pxToRem(36)

  &--text
    font-family $font-text-regular
    font-size pxToRem(18)
    letter-spacing pxToRem(0.4)
    line-height pxToRem(32)
