.text
  &--large
    font-family $font-body-1
    font-size $bodyLarge
    letter-spacing pxToRem(0.4)
    line-height pxToRem(32)

    color $subtitle

  &--medium
    font-family $font-body-2
    font-size $bodyMedium
    letter-spacing pxToRem(0.4)
    line-height pxToRem(28)

  &--small
    font-family $font-body-3
    font-size $bodySmall
    letter-spacing pxToRem(0.4)
    line-height pxToRem(24)
