// Titles
h1
  font-family $font-title-large
  font-size $H1
  letter-spacing pxToRem(0)
  line-height pxToRem(140)

  color $title

h2
  font-family $font-title-medium
  font-size $H2
  letter-spacing pxToRem(0)
  line-height pxToRem(64)

  color $title

h3
  font-family $font-title-small
  font-size $H3
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $title

h4
  font-family $font-title-small
  font-size $H4
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $subtitle

h5
  font-family $font-title-small
  font-size $H5
  letter-spacing pxToRem(0)
  line-height pxToRem(60)

  color $title

h6
  font-family $font-title-small
  font-size pxToRem(20)
  letter-spacing pxToRem(0.4)
  line-height pxToRem(36)

  color $title

