.preloader
  @extend .cover
  @extend .flex--cc

  background $background
  text-align center
  z-index 20

  &__text
    max-width pxToRem(456)
    color $white

    span
      font-size pxToRem(72) !important
      display inline-block
      overflow hidden

      &:last-child
        @extend h5

      span
        @extend h2;


  &__number
    absolute-lb(50%, 0)
    center()

    color $white
    overflow hidden

    &__text
      display inline-block

