// Default
$white = #FFFFFF

// BG
$background = #0F131B
$background-2 = #171B23

// Texts
$title = #FFFFFF
$subtitle = #E4E4EB
$paragraph = #CFD0D1
$paragraph-light = #A5A8AF
$paragraph-lighter = #6E737E

// Greys
$grey-1 = #C1C4C8
$grey-2 = #D3D5D7
$grey-3 = #DFE0E2

// Primary
$primary-default = #DEB887
$primary-dark = #8B765C
$primary-light = #EBD4B7
$primary-disable = #FFD3BB
$primary-focus = #FF9A62
$primary-complementary = #FECE85

// Secondary
// Here go secondary colors
