// Indexes
z(name)
  if index(z-indexes, name)
    return (lenght(z-indexes) - index(z-indexes, name)) + 1
  else
    warn 'there is no item 'name' in this list; Choose one of: 'z-indexes
    return null

// Px to rem
pxToRem(px, layout = 16)
  unit((px / layout), rem)

// Responsive ratio
ratio($number)
  "calc(100vw / 1440 * %s)" % $number
