// Cover
.cover
  width 100%
  height 100%
  object-fit cover
  position absolute
  left 0
  top 0

// Flex classes
flexbox()
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

flex($values)
  -webkit-box-flex $values
  -moz-box-flex $values
  -webkit-flex $values
  -ms-flex $values
  flex $values

order($val)
  -webkit-box-ordinal-group $val
  -moz-box-ordinal-group $val
  -ms-flex-order $val
  -webkit-order $val
  order $val

.flex
  &--sc
    flexbox()
    justify-content flex-start
    align-items center

  &--cc
    flexbox()
    justify-content center
    align-items center

  &--bc
    flexbox()
    justify-content space-between
    align-items center

  &--bs
    flexbox()
    justify-content space-between
    align-items flex-start

  &--ec
    flexbox()
    justify-content flex-end
    align-items center

  &--ss
    flexbox()
    justify-content flex-start
    align-items flex-start

  &--cs
    flexbox()
    justify-content center
    align-items flex-start

  &--es
    flexbox()
    justify-content flex-end
    align-items flex-start

  &--se
    flexbox()
    justify-content flex-start
    align-items flex-end

  &--ce
    flexbox()
    justify-content center
    align-items flex-end

  &--cb
    flexbox()
    justify-content center
    align-items space-between

  &--ee
    flexbox()
    justify-content flex-end
    align-items flex-end

// Absolute
absolute-lt(x, y)
  position absolute
  left x
  top y

absolute-lb(x, y)
  position absolute
  left x
  bottom y

absolute-rt(x, y)
  position absolute
  right x
  top y

absolute-rb(x, y)
  position absolute
  right x
  bottom y

// Center absolute objects
center(x = -50%, y = -50%)
  transform translateX(x) translateY(y)

// Size
size($width, $height)
  width $width
  height $height

// Ratio
ratio($width, $height)
  font-size 0
  overflow hidden
  position relative

  &:after
    content ''
    width 100%
    display inline-block
    padding-top $width / $height = 100%

// Border-radius
border-radius($n)
  -webkit-border-radius $n
  -moz-border-radius $n
  border-radius $n

// will-change
will($type)
  will-change $type

// Smooth scroll init
smoothScrollInit()
  width 100%
  height 100%
  top 0
  left 0
  position fixed

// Opacity
support-for-ie ?= true

    opacity(n)
      opacity n
      if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
