// Displays
$H1 = ratio(80)
$H2 = ratio(60)
$H3 = ratio(48)
$H4 = ratio(40)
$H5 = ratio(24)
$displaySubtitle = ratio(36)
// Texts
$bodyLarge = ratio(22)
$bodyMedium = ratio(18)
$bodySmall = ratio(16)
// Paddings
// Default
$horizontalPadding = ratio(80)
$verticalPadding = ratio(72)
// Header
$headerHorizontalPadding = ratio(23)
$headerVerticalPadding = ratio(0)
// Sections
$sectionHorizontalPadding = ratio(80)
$sectionVerticalPadding = ratio(80)
// Buttons
$sectionHorizontalPadding = ratio(24)
$sectionVerticalPadding = ratio(40)
// Fonts
// Display
$font-title-large = Cardillac-ExtraBold
$font-title-medium = Cardillac-ExtraBold
$font-title-small = Cardillac-ExtraBold
$font-subtitle = Cardillac-Bold
// Text
$font-body-1 = Mulish-Regular
$font-body-2 = Mulish-Regular
$font-body-3 = Mulish-Regular

// Ease
$ease-out-expo = cubic-bezier(0.19, 1, 0.22, 1)
$ease-in-1 = cubic-bezier(.42,0,.87,.28)

// Z-indexes
$z-indexes = 'navigation', 'content'

