:root
  font-family $font-text-regular

// Displays
@font-face
    font-family $font-title-large
    src url("../../fonts/Cardillac-ExtraBold.woff")
    font-weight 900

@font-face
    font-family $font-title-medium
    src url("../../fonts/Cardillac-ExtraBold.woff")
    font-weight 900

@font-face
    font-family $font-title-small
    src url("../../fonts/Cardillac-ExtraBold.woff")
    font-weight 900

@font-face
    font-family $font-subtitle
    src url("../../fonts/Cardillac-Bold.woff")
    font-weight 700

// Texts
@font-face
    font-family $font-body-1
    src url("../../fonts/Mulish-Regular.woff")
    font-weight 400

@font-face
    font-family $font-body-2
    src url("../../fonts/Mulish-Regular.woff")
    font-weight 400

@font-face
    font-family $font-body-3
    src url("../../fonts/Mulish-Regular.woff")
    font-weight 400

@font-face
    font-family $font-caption
    src url("../../fonts/Mulish-Regular.woff")
    font-weight 400
