extends ../base.pug

block variables
  - var template = 'projects'

block content
  .projects(data-background="#FFFBF5" data-color="#7D8795")
    .projects__wrapper
      include ../components/gallery
