// Reset
@import 'base/reset'
// Utils
@import 'utils/variables'
@import 'utils/vendors'
@import 'utils/breakpoints'
@import 'utils/colors'
@import 'utils/mixins'
@import 'utils/functions'
// Base
@import 'base/fonts'
@import 'base/base'
// Shared
@import 'shared/*'
// Layout
@import 'layout/*'
// Components
@import 'components/*'
// Pages
@import 'pages/home/home'
@import 'pages/about/about'
@import 'pages/projects/projects'
@import 'pages/project/project'
